<div>
  <app-header></app-header>
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <app-webinfo></app-webinfo>
  <aside>
      <dl>
          <dt><span  class="bi bi-facebook"></span></dt>
          <dt><span  class="bi bi-instagram"></span></dt>
          <dt><span  class="bi bi-snapchat"></span></dt>
          <dt><span  class="bi bi-twitter"></span></dt>
          <dt><span  class="bi bi-whatsapp"></span></dt>
      </dl>
  </aside>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>