.background{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: #fff;
}